@page
@model RazorPagesBusiness.Pages.Businesses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Submit A Business</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserBusinessInput.Name" class="control-label"></label>
                <input asp-for="UserBusinessInput.Name" class="form-control" />
                <span asp-validation-for="UserBusinessInput.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Business Category</label>

                        <select asp-for = "UserBusinessInput.BusinessTypeId">
                            @foreach (var item in Model.BusinessType)
                            {
                                <option value = "@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Name)</option>
                            }
                        </select>      
                
            </div>

            <div class="form-group">
                <label asp-for="UserBusinessInput.Website" class="control-label"></label>
                <input asp-for="UserBusinessInput.Website" class="form-control" />
                <span asp-validation-for="UserBusinessInput.Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
