@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>San Diego is under luckdown again. However, many small business owners have made the brave decision to safely remain open!

This site is a directory of San Diego area businesses that have made the decision to stay open despite government orders.

More businesses are being added regularly, so be sure to check back.  If someone you know has a business that should be listed, please direct them to this site

so that they may add their information to the directory.</p>
</div>
