@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Nothing is more frustrating to me than buying a product from a business and then finding out later
        that this business donates to or supports special interests that are completely contradictory to my beliefs.

        I wanted to create a directory to verify and list companies who are owned by people who believe that America should come first. 
        

    </p>
</div>
